<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="fromAddress" value="neotri@163.com"/>
    <add key="fromName" value="SIMMSPS version 1.00"/>
    <add key="fromPwd" value="neotrident"/>
    <add key="smtpHost" value="smtp.163.com"/>
    <add key="startTime" value="08:16:10"/>
    <add key="againDate" value="11,10,5,0,-1"/>
    <add key="everydate" value="18:00:00"/>
    <add key="everyUrl" value="http://localhost:45477/Purchase/EveryOrder.aspx"/>
    <add key="FANKUI" value="http://localhost:8604/Service/Synch.aspx"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="BLW" value="上海百灵威化学科技有限公司"/>
    <add key="sigmaEmail" value="eastordercn@sial.com"/>
    <add key="BDInterface" value="上海毕得医药科技股份有限公司"/>
    <add key="BDsecret" value="666a692590a040789bfd3d2b35669966"/>
    <add key="BDUrl" value="http://139.196.193.135:8000/webapi/pms_order_status"/>
  </appSettings>
</configuration>
